
.scroll-bar{
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  width: 5px;
  background-color: #000000;
  z-index: 0;
  .scroll-path{
    height: 0;
    width: 100%;
    overflow: hidden;
    //transition: height .3s ease-in-out;
    .scroll-line{
      //position: absolute;
      //right: 0;
      //top:0;
      height: 1500px;
      width: 100%;
      background: linear-gradient(to bottom, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
    }
  }
}
