<div class="content">
  <div class="content_box">
    <h3 class="content_title"></h3>
    <h4 class="content_text">

     <span></span>&nbsp;<a href="https://discord.gg/tsnYbthZnV" target="_blank"></a>&nbsp;<span></span>
    </h4>
    <h4 class="content_text"></h4>
    <h4 class="content_text">
      <a href="mailto:press@subconscious.ai" target="_blank"></a>
    </h4>
    <h4 class="content_text"></h4>
    <h4 class="content_text">
      <a href="mailto:ethicsboard@subconscious.ai" target="_blank"></a>
    </h4>
  </div>
</div>
